html {
	height: 100%;
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;

	background-color: #F0FFF0;

	font-family: 'Ubuntu', sans-serif;
}

.clock {
	max-width: 400px;
	width: 100%;
}

.clock__list {
	display: flex;
	justify-content: stretch;
	padding: 0;
	margin: 0 0 15px;
	gap: 10px;

	list-style: none;
}

.clock__item {
	width: 100%;
}

.clock__button {
	width: 100%;
	padding: 1em 0 1em;
	border-width: 1px;
	border-color: rgba(0, 0, 0, 0.3);

	background-color: white;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s;
}

.clock__button:hover {
	background-color: #FFFAF0;
}

.clock__content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 300px;

	border-radius: 6px;
	box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.2);
	background-color: white;
}

.clock__hours {
	margin-bottom: 25px;

	font-size: 44px;
	font-weight: 700;
}

.clock__day {
	margin-bottom: 10px;

	font-size: 26px;
	font-weight: 500;
}

.clock__date {
	font-size: 20px;
}